// Plyr player
@import '../../../node_modules/plyr/src/sass/plyr.scss';

// Utilities
@import './utils/variables';
@import './utils/responsive';
@import './utils/functions';
@import './utils/mixins';
@import './utils/keyframes';

// Globals
// @import './global/typography';
@import './global/reset';
@import './global/content';