@keyframes HeroScrollUpDown {
    0%, 100% {
      top: rem-calc(8);
    }

    50% {
      top: rem-calc(12);
    }
}

@keyframes BannerScrollUpDown {
    0%, 100% {
      bottom: rem-calc(72);
    }

    50% {
      bottom: rem-calc(80);
    }
}

@keyframes ChangeBorderColor {
  from {
      border-color: $color-gray;
  }
  to {
      border-color: $color-dark-gray;
  }
}