.hero {
    position: relative;
    width: 100%;
    height: 100vh;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__logo {
        position: absolute;
        top: rem-calc(20);
        right: rem-calc(20);

        @include media('>phone') {
            top: rem-calc(35);
            right: rem-calc(50);
        }
       
        &-image {
            width: rem-calc(90);
            height: 100%;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 16%;

        @include media('>tablet') {
            object-position: center;
        }
    }

    &__wrapper {
        @extend %container;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }

    &__circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translateX(-50%) translateY(-55%);
        z-index: -1;

        @include media('>phone') {
            width: rem-calc(560);
            height: rem-calc(560);
        }

        svg {
            width: 100%;
            height: 100%;
            stroke-dasharray: 300;
            stroke-dashoffset: 300px;
        }  
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__scroll-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: rem-calc(16);

        @include media('>phone') {
            margin-top: rem-calc(35);
        }
    }

    &__scroll-label {
        margin-top: rem-calc(15);
        font-size: rem-calc(14);
        font-family: $font-muli;
        color: $color-white;
    }

    &__title {
        max-width: rem-calc(768);
        font-size: rem-calc(34);
        font-family: $font-newzaldtest;
        text-align: center;
        line-height: 1.1;
        letter-spacing: 2px;
        color: $color-white;

        @include media('>phone') {
            font-size: rem-calc(70);
        }
    }

    &__scroll {
        position: relative;
        width: rem-calc(18);
        height: rem-calc(40);
        border-radius: 10px;
        border: 1px solid $color-white;

        &::before {
            content: '';
            position: absolute;
            top: rem-calc(8);
            left: 50%;
            width: rem-calc(1);
            height: rem-calc(6);
            transform: translateX(-50%);
            animation: HeroScrollUpDown 1.2s linear infinite;
            background-color: $color-white;
        }
    }

    &__copywright {
        position: absolute;
        display: flex;
        bottom: rem-calc(30);

        &-logo {
            margin-left: rem-calc(10);
        }

        p,
        a {
            font-family: $font-muli;
            font-size: rem-calc(14);
            color: rgba(255, 255, 255, 0.35);
        }
    }
}