// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #0c1020;
$color-red: #D99E94;
$color-dark-gray: #AFAFAF;
$color-gray: #DFDFDF;

// Fonts
$font-newzaldtest: 'NewzaldTest';
$font-muli: 'Muli';