.image-text {
    &__wrapper {
        @extend %container;

        display: grid;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100%;
        padding: rem-calc(50) 0;

        @include media('>phone') {
            width: 100%;
            grid-template-columns: 35% 65%;
            padding: fluid('phone', 'desktop-xlarge', 50px, 250px) 0;
        }

        @include media('>desktop-xlarge') {
            padding: rem-calc(250) 0;
        }
    }

    &__content {
        max-width: rem-calc(520);
        margin: 0 auto;

        @include media('>phone') {
            padding: 0 rem-calc(25);
        }

        @include media('>tablet') {
            padding: 0 fluid('tablet', 'desktop-xlarge', 25px, 50px);
        }

        @include media('>desktop-xlarge') {
            padding: 0 rem-calc(50);
        }
    }

    &__title,
    &__text {
        font-family: $font-newzaldtest;
        text-align: left;
        line-height: 1;
        color: $color-dark-blue;
    }

    &__title {
        font-size: rem-calc(28);

        @include media('>phone') {
            font-size: fluid('tablet', 'desktop-xlarge', 32px, 70px);
        }
    
        @include media('>desktop-xlarge') {
            font-size: rem-calc(70);
        }
    }

    &__text {
        margin-top: rem-calc(15);
        font-size: rem-calc(20);

        @include media('>phone') {
            margin-top: fluid('phone', 'desktop-xlarge', 15px, 45px);
            font-size: fluid('phone', 'desktop-xlarge', 20px, 40px);
        }
    
        @include media('>desktop-xlarge') {
            margin-top: rem-calc(45);
            font-size: rem-calc(40);
        }

        span {
            color: $color-red;
        }
    }

    &__media {
        width: 100%;
        margin-top: rem-calc(30);
        z-index: 1;

        @include media('>phone') {
            margin-top: 0;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--vertical {
        .image-text {
            &__wrapper {
                @include media('>phone') {
                    grid-template-columns: 1fr;
                    gap: fluid('phone', 'desktop-xlarge', 40px, 140px);
                    padding: fluid('phone', 'desktop-xlarge', 50px, 200px) 0;
                }

                @include media('>desktop-xlarge') {
                    gap: rem-calc(140);
                    padding: rem-calc(200) 0;
                }
            }

            &__media {
                @include media('>phone') {
                    width: 55%;
                }
            }

            &__content {
                @include media('>phone') {
                    width: 54%;
                    max-width: fluid('phone', 'desktop-xlarge', 520px, 770px);
                    margin-right: 10%;
                    padding: 0;
                }

                @include media('>desktop-xlarge') {
                    max-width: rem-calc(770);
                }
            }

            &__text {
                margin-top: 0;
                font-size: rem-calc(24);
                line-height: 1.2;

                @include media('>phone') {
                    font-size: fluid('phone', 'desktop-xlarge', 24px, 50px);
                }
            
                @include media('>desktop-xlarge') {
                    font-size: rem-calc(50);
                }
            }
        }
    }
}